.active:active{
    color:#4D4D4D !important;
    
}

.about{
    float: right
}

/* Header*/

.jumbotron{
    background-color:#acdef9;
    background-size: cover;
    color: white;
    height: 50%
    
}

.info{
    background-color:#f6bac8;
    background-size: cover;
    color: white;
    height: 50%;
    width: 100%;
    padding:none
    
}
.home{
    font-size: 200%;
    text-align: center
}

.logo{
    text-align: center;
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
/* Navigation*/
.navbar {
    
    background-color: #acdef9;
    float: none;
    text-align: center;
    margin-bottom: 50px
    
}
.navbar .navbar-nav{
    
    background-color: #acdef9;
    float: none;
    text-align: center;
    
}
.insta {
    color: #acdef9;
    font-size: 30px
}

.navbar .navbar-collapse {
    text-align: center
}

a {
    color:white;
    
}
.dropdown-item {
    float: none;
    color: #4D4D4D;
    display: block;
    font-size: 12px;
    font-family: 'Muli', sans-serif;
    text-transform: none;
  }

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #acdef9;
    border-color: white
  }

  ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
  }
.nav-link:hover{
    color:#4D4D4D;
}


.actief{
    
    text-decoration: underline ;
    text-decoration-color: white;
    text-underline-position: under;
    
}

.nav-link{
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    color:white
}
.nav-item{

    text-align: center;
   
    

}

.navbar .navbar-brand .nav-link{ 
    color:white;
    font-family: 'Muli';
    font-size: 16px;
    text-transform: uppercase;
}

.navbar-toggler .custom-toggler{
    background-color: #4D4D4D;
    text-align: center;
    float:center
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon:hover{
    background-image:url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=FFFFFF');
}

.navbar-toggler-icon{
    background-image:url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=4D4D4D');
    display: flex
}

.navbar-toggler-icon:active{
    background-image:url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=4D4D4D');
    border-color:none
}

/* Body*/

.image{
    margin-bottom: 1em;
}

.tracklist{
    margin-top: 1em
}

.container {
    position: relative;
    max-width: 70%;
    border: 3px solid pink;
    
}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button{
    background-color: #45A29E;
    color: white;
    margin:  auto;
    display: block;
    width: 90%;
    border: none;
    border-radius:  5px;   
}

/* Titles*/
.link{
    color: lightblue
}

.link:hover{
    color: #4D4D4D
}

h1{
    font-family: 'titilium-web', sans-serif;
    font-size: 40px;
    color:#E65E6A;
    text-transform: capitalize;
    font-weight: bold

}
h2{
    
    font-family: 'Open Sans Condensed', sans-serif;
    color: #1F2833

}
h3{
    
    font-family: 'Roboto', sans-serif;
    color: #1F2833
}

p{
    font-size: 16px;
    font-family: 'Muli', sans-serif;
}

h4{
    color: #4D4D4D;
    font-weight: 600;
    font-size:16px;
    font-family: 'Roboto', sans-serif;

}

ol {
    
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 1em;
    text-align: left
    
   
}




/* Button to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color:#E65E6A;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #4D4D4D;
}

/* Footer */

.footer-bottom {
    background-color:#f6bac8;
    background-size: cover;
    width: 100%;
    
    display: block;
    

}
.copyright {
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: normal
}

.mail{
    color: #fff;
    font-family: 'Muli', sans-serif;
    font-size: 12px;
    font-weight: 100
}


.footercontact{
    color: #4D4D4D;
    margin-top: 20px;
    font-family: 'Muli', sans-serif;
    font-size: 15px;
    font-weight: 700;
}
   




/* Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... } */

  /* Medium devices (tablets, 768px and up)*/
  @media (min-width: 768px) {
    .display-3{
        font-size: 100px
    }
    .lead{
        font-size: 20px
    }
    .button{
        width: 100%
    }
   
    .container {
        position: relative;
        width: 100%;
    }
    
    ol{
        -webkit-column-count: 2;
        -moz-column-count: 2; 
        column-count: 2;
        -webkit-column-rule-style: dashed;
        -webkit-column-rule-color: orange;
        -webkit-column-rule-width:2px;
        width:95%;
        list-style: inside decimal;
        text-align: center
           
        
        
        
       
       

       
        
        

    }
   
    
   
    
}
 


  /* Large devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }*/
  
  /* Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }*/