<footer class="mainfooter container-fluid">
    <div class="row">  
        <div class="col-sm-12 col-md-4 footer text-center text-md-left">
            <ul class="list-unstyled footer ">
                
                <li><a href="index.html">HOME</a></li>
                <li><a href="shop.html">SHOP</a></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li><a href="winkelwagen.html">WINKELWAGEN</a></li>
                <li><a href="voorwaarden.html">ALGEMENE VOORWAARDEN</a></li> 
                
            </ul>
        </div>
        
        <div class="col-12  col-md-4 text-center footervuurhuur">
            
            <img class="logo"src="images/logo.svg" width="30px">
            <h1>VUURHUUR</h1>
            <p class="copyright">&copy; Copyright 2017 - VUURHUUR </p>
                        
        </div> 
        
        <div class="col-12 col-md-4 text-center text-md-right">
                                
            <a  href="https://www.facebook.com/" >
                <div class="icon facebook m-0"></div>
            </a>

            <a  href="https://www.instagram.com/">
                <div class="icon instagram m-0"></div>
            </a>

        </div>
    </div>
</div>

</footer>
