<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}{% link assets/css/app.scss %}">
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    
</head>
<body>
{% include nav.html %}

<div class="container-fluid">
    <div class="row">
        {{ content }}
    </div>
</div>

{% include footer.html %}
{% include scripts-bottom.html %}
</body>

</html>